.Section {
  width: calc(100% - (2 * var(--app-page-margin-x)));
  width: 100%;
  height: calc(100% - (2 * var(--app-page-margin-y)));
  height: 100%;
  padding: var(--app-page-margin-y) var(--app-page-margin-x);
  margin-inline: auto;

  .Container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .SpotLight {
      display: flex;
      gap: var(--app-page-margin-y);
      align-items: center;
      height: 100%;

      div:nth-child(odd) {
        flex-basis: 40%;
      }
      div {
        flex-basis: 70%;
      }
    }
  }
}
